/*! Blowfish | MIT License | https://github.com/nunocoracao/blowfish */

/*! tailwindcss v3.2.1 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

[type='text'],[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

input::placeholder,textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-date-and-time-value {
  min-height: 1.5em;
}

::-webkit-datetime-edit,::-webkit-datetime-edit-year-field,::-webkit-datetime-edit-month-field,::-webkit-datetime-edit-day-field,::-webkit-datetime-edit-hour-field,::-webkit-datetime-edit-minute-field,::-webkit-datetime-edit-second-field,::-webkit-datetime-edit-millisecond-field,::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

[multiple] {
  background-image: initial;
  background-position: initial;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  -webkit-print-color-adjust: unset;
          print-color-adjust: unset;
}

[type='checkbox'],[type='radio'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

[type='checkbox'] {
  border-radius: 0px;
}

[type='radio'] {
  border-radius: 100%;
}

[type='checkbox']:focus,[type='radio']:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

[type='checkbox']:checked,[type='radio']:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

[type='radio']:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type='checkbox']:checked:hover,[type='checkbox']:checked:focus,[type='radio']:checked:hover,[type='radio']:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='checkbox']:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

[type='checkbox']:indeterminate:hover,[type='checkbox']:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

[type='file'] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}

[type='file']:focus {
  outline: 1px solid ButtonText;
  outline: 1px auto -webkit-focus-ring-color;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.prose {
  color: var(--tw-prose-body);
  max-width: 65ch;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose :where(a):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  text-decoration: none;
  font-weight: 500;
  text-decoration-color: rgba(var(--color-primary-300), 1);
}

.prose :where(a):not(:where([class~="not-prose"] *)):hover {
  color: rgba(var(--color-neutral), 1);
  text-decoration: none;
  background-color: rgba(var(--color-primary-600), 1);
  border-radius: 0.09rem;
}

.prose :where(strong):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose :where(a strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th strong):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(ol):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol[type="A"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="A" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="I"]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i"]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="I" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i" s]):not(:where([class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="1"]):not(:where([class~="not-prose"] *)) {
  list-style-type: decimal;
}

.prose :where(ul):not(:where([class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.prose :where(ol > li):not(:where([class~="not-prose"] *))::marker {
  font-weight: 400;
  color: var(--tw-prose-counters);
}

.prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
  color: var(--tw-prose-bullets);
}

.prose :where(hr):not(:where([class~="not-prose"] *)) {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(blockquote):not(:where([class~="not-prose"] *)) {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-left-width: 0.25rem;
  border-left-color: var(--tw-prose-quote-borders);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before {
  content: open-quote;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"] *))::after {
  content: close-quote;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h1 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 900;
  color: inherit;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h2 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 800;
  color: inherit;
}

.prose :where(h3):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose :where(h3 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(h4):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(h4 strong):not(:where([class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(img):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figure > *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(figcaption):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
  content: "`";
}

.prose :where(code):not(:where([class~="not-prose"] *))::after {
  content: "`";
}

.prose :where(a code):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-code);
}

.prose :where(h1 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h2 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.875em;
}

.prose :where(h3 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.9em;
}

.prose :where(h4 code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th code):not(:where([class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-right: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-left: 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(pre code):not(:where([class~="not-prose"] *))::before {
  content: none;
}

.prose :where(pre code):not(:where([class~="not-prose"] *))::after {
  content: none;
}

.prose :where(table):not(:where([class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}

.prose :where(thead th):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose :where(tbody tr):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}

.prose :where(tbody tr:last-child):not(:where([class~="not-prose"] *)) {
  border-bottom-width: 0;
}

.prose :where(tbody td):not(:where([class~="not-prose"] *)) {
  vertical-align: baseline;
}

.prose :where(tfoot):not(:where([class~="not-prose"] *)) {
  border-top-width: 1px;
  border-top-color: var(--tw-prose-th-borders);
}

.prose :where(tfoot td):not(:where([class~="not-prose"] *)) {
  vertical-align: top;
}

.prose {
  --tw-prose-body: rgba(var(--color-neutral-700), 1);
  --tw-prose-headings: rgba(var(--color-neutral-800), 1);
  --tw-prose-lead: rgba(var(--color-neutral-500), 1);
  --tw-prose-links: rgba(var(--color-primary-700), 1);
  --tw-prose-bold: rgba(var(--color-neutral-900), 1);
  --tw-prose-counters: rgba(var(--color-neutral-800), 1);
  --tw-prose-bullets: rgba(var(--color-neutral-500), 1);
  --tw-prose-hr: rgba(var(--color-neutral-200), 1);
  --tw-prose-quotes: rgba(var(--color-neutral-700), 1);
  --tw-prose-quote-borders: rgba(var(--color-primary-200), 1);
  --tw-prose-captions: rgba(var(--color-neutral-500), 1);
  --tw-prose-code: rgba(var(--color-secondary-700), 1);
  --tw-prose-pre-code: rgba(var(--color-neutral-700), 1);
  --tw-prose-pre-bg: rgba(var(--color-neutral-50), 1);
  --tw-prose-th-borders: rgba(var(--color-neutral-500), 1);
  --tw-prose-td-borders: rgba(var(--color-neutral-300), 1);
  --tw-prose-invert-body: rgba(var(--color-neutral-300), 1);
  --tw-prose-invert-headings: rgba(var(--color-neutral-50), 1);
  --tw-prose-invert-lead: rgba(var(--color-neutral-500), 1);
  --tw-prose-invert-links: rgba(var(--color-primary-400), 1);
  --tw-prose-invert-bold: rgba(var(--color-neutral), 1);
  --tw-prose-invert-counters: rgba(var(--color-neutral-400), 1);
  --tw-prose-invert-bullets: rgba(var(--color-neutral-600), 1);
  --tw-prose-invert-hr: rgba(var(--color-neutral-500), 1);
  --tw-prose-invert-quotes: rgba(var(--color-neutral-200), 1);
  --tw-prose-invert-quote-borders: rgba(var(--color-primary-900), 1);
  --tw-prose-invert-captions: rgba(var(--color-neutral-400), 1);
  --tw-prose-invert-code: rgba(var(--color-secondary-400), 1);
  --tw-prose-invert-pre-code: rgba(var(--color-neutral-200), 1);
  --tw-prose-invert-pre-bg: rgba(var(--color-neutral-700), 1);
  --tw-prose-invert-th-borders: rgba(var(--color-neutral-500), 1);
  --tw-prose-invert-td-borders: rgba(var(--color-neutral-700), 1);
  font-size: 1rem;
  line-height: 1.75;
}

.prose :where(p):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(video):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(figure):not(:where([class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(li):not(:where([class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(ol > li):not(:where([class~="not-prose"] *)) {
  padding-left: 0.375em;
}

.prose :where(ul > li):not(:where([class~="not-prose"] *)) {
  padding-left: 0.375em;
}

.prose :where(.prose > ul > li p):not(:where([class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(hr + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h2 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h3 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h4 + *):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(thead th:first-child):not(:where([class~="not-prose"] *)) {
  padding-left: 0;
}

.prose :where(thead th:last-child):not(:where([class~="not-prose"] *)) {
  padding-right: 0;
}

.prose :where(tbody td, tfoot td):not(:where([class~="not-prose"] *)) {
  padding-top: 0.5714286em;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}

.prose :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"] *)) {
  padding-left: 0;
}

.prose :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"] *)) {
  padding-right: 0;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose :where(kbd):not(:where([class~="not-prose"] *)) {
  background-color: rgba(var(--color-neutral-200), 1);
  padding: 0.1rem 0.4rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.prose :where(mark):not(:where([class~="not-prose"] *)) {
  color: rgba(var(--color-neutral-800), 1);
  background-color: rgba(var(--color-secondary-200), 1);
  padding: 0.1rem 0.2rem;
  border-radius: 0.12rem;
}

.prose-sm :where(.prose > ul > li p):not(:where([class~="not-prose"] *)) {
  margin-top: 0.5714286em;
  margin-bottom: 0.5714286em;
}

.prose-sm :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.1428571em;
}

.prose-sm :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.1428571em;
}

.prose-sm :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.1428571em;
}

.prose-sm :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.1428571em;
}

.prose-sm :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose-sm :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose-base :where(.prose > ul > li p):not(:where([class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose-base :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose-base :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose-base :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose-base :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose-base :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose-base :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose-lg :where(.prose > ul > li p):not(:where([class~="not-prose"] *)) {
  margin-top: 0.8888889em;
  margin-bottom: 0.8888889em;
}

.prose-lg :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.3333333em;
}

.prose-lg :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.3333333em;
}

.prose-lg :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.3333333em;
}

.prose-lg :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.3333333em;
}

.prose-lg :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose-lg :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose-xl :where(.prose > ul > li p):not(:where([class~="not-prose"] *)) {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.prose-xl :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.2em;
}

.prose-xl :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.2em;
}

.prose-xl :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.2em;
}

.prose-xl :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.2em;
}

.prose-xl :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose-xl :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.prose-2xl :where(.prose > ul > li p):not(:where([class~="not-prose"] *)) {
  margin-top: 0.8333333em;
  margin-bottom: 0.8333333em;
}

.prose-2xl :where(.prose > ul > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.3333333em;
}

.prose-2xl :where(.prose > ul > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.3333333em;
}

.prose-2xl :where(.prose > ol > li > *:first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 1.3333333em;
}

.prose-2xl :where(.prose > ol > li > *:last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 1.3333333em;
}

.prose-2xl :where(.prose > :first-child):not(:where([class~="not-prose"] *)) {
  margin-top: 0;
}

.prose-2xl :where(.prose > :last-child):not(:where([class~="not-prose"] *)) {
  margin-bottom: 0;
}

.form-input,.form-textarea,.form-select,.form-multiselect {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

.form-input:focus, .form-textarea:focus, .form-select:focus, .form-multiselect:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: #2563eb;
}

.form-input::-moz-placeholder, .form-textarea::-moz-placeholder {
  color: #6b7280;
  opacity: 1;
}

.form-input::placeholder,.form-textarea::placeholder {
  color: #6b7280;
  opacity: 1;
}

.form-input::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

.form-input::-webkit-date-and-time-value {
  min-height: 1.5em;
}

.form-input::-webkit-datetime-edit,.form-input::-webkit-datetime-edit-year-field,.form-input::-webkit-datetime-edit-month-field,.form-input::-webkit-datetime-edit-day-field,.form-input::-webkit-datetime-edit-hour-field,.form-input::-webkit-datetime-edit-minute-field,.form-input::-webkit-datetime-edit-second-field,.form-input::-webkit-datetime-edit-millisecond-field,.form-input::-webkit-datetime-edit-meridiem-field {
  padding-top: 0;
  padding-bottom: 0;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
}

.form-checkbox,.form-radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  --tw-shadow: 0 0 #0000;
}

.form-checkbox {
  border-radius: 0px;
}

.form-checkbox:focus,.form-radio:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.form-checkbox:checked,.form-radio:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}

.form-checkbox:checked:hover,.form-checkbox:checked:focus,.form-radio:checked:hover,.form-radio:checked:focus {
  border-color: transparent;
  background-color: currentColor;
}

.form-checkbox:indeterminate {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form-checkbox:indeterminate:hover,.form-checkbox:indeterminate:focus {
  border-color: transparent;
  background-color: currentColor;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.top-\[100vh\] {
  top: 100vh;
}

.bottom-0 {
  bottom: 0px;
}

.top-\[calc\(100vh-5\.5rem\)\] {
  top: calc(100vh - 5.5rem);
}

.bottom-4 {
  bottom: 1rem;
}

.right-8 {
  right: 2rem;
}

.top-0 {
  top: 0px;
}

.top-20 {
  top: 5rem;
}

.right-0 {
  right: 0px;
}

.z-30 {
  z-index: 30;
}

.z-10 {
  z-index: 10;
}

.order-first {
  order: -9999;
}

.float-right {
  float: right;
}

.m-auto {
  margin: auto;
}

.m-2 {
  margin: 0.5rem;
}

.m-4 {
  margin: 1rem;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 0.25rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.-my-2 {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.-mx-2 {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.mt-0 {
  margin-top: 0px;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.-mr-2 {
  margin-right: -0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.-mr-48 {
  margin-right: -12rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.mt-\[0\.1rem\] {
  margin-top: 0.1rem;
}

.\!mt-0 {
  margin-top: 0px !important;
}

.\!mb-0 {
  margin-bottom: 0px !important;
}

.-mb-1 {
  margin-bottom: -0.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.\!mb-9 {
  margin-bottom: 2.25rem !important;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-\[2px\] {
  margin-bottom: 2px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.h-screen {
  height: 100vh;
}

.h-12 {
  height: 3rem;
}

.h-96 {
  height: 24rem;
}

.h-64 {
  height: 16rem;
}

.h-24 {
  height: 6rem;
}

.h-1\/2 {
  height: 50%;
}

.h-\[1000px\] {
  height: 1000px;
}

.h-36 {
  height: 9rem;
}

.h-full {
  height: 100%;
}

.h-48 {
  height: 12rem;
}

.h-8 {
  height: 2rem;
}

.h-\[150px\] {
  height: 150px;
}

.h-\[800px\] {
  height: 800px;
}

.max-h-\[5rem\] {
  max-height: 5rem;
}

.min-h-0 {
  min-height: 0px;
}

.min-h-\[148px\] {
  min-height: 148px;
}

.w-12 {
  width: 3rem;
}

.w-full {
  width: 100%;
}

.w-24 {
  width: 6rem;
}

.w-screen {
  width: 100vw;
}

.w-36 {
  width: 9rem;
}

.w-8 {
  width: 2rem;
}

.w-6 {
  width: 1.5rem;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-\[1\.8rem\] {
  min-width: 1.8rem;
}

.min-w-\[220px\] {
  min-width: 220px;
}

.min-w-full {
  min-width: 100%;
}

.max-w-full {
  max-width: 100%;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-prose {
  max-width: 65ch;
}

.max-w-\[5rem\] {
  max-width: 5rem;
}

.max-w-xl {
  max-width: 36rem;
}

.max-w-\[1600px\] {
  max-width: 1600px;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-\[64rem\] {
  max-width: 64rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-none {
  flex: none;
}

.flex-initial {
  flex: 0 1 auto;
}

.grow {
  flex-grow: 1;
}

.basis-full {
  flex-basis: 100%;
}

.basis-1\/2 {
  flex-basis: 50%;
}

.basis-1\/3 {
  flex-basis: 33.333333%;
}

.-translate-y-8 {
  --tw-translate-y: -2rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.list-none {
  list-style-type: none;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-12 {
  gap: 3rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-4 {
  gap: 1rem;
}

.space-y-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}

.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-x-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.place-self-center {
  place-self: center;
}

.self-center {
  align-self: center;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.\!rounded-md {
  border-radius: 0.375rem !important;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-t {
  border-top-width: 1px;
}

.border-dotted {
  border-style: dotted;
}

.border-neutral-300 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-300), var(--tw-border-opacity));
}

.border-neutral-200 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-200), var(--tw-border-opacity));
}

.border-primary-400 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-primary-400), var(--tw-border-opacity));
}

.border-primary-500 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-primary-500), var(--tw-border-opacity));
}

.bg-neutral {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral), var(--tw-bg-opacity));
}

.bg-primary-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-200), var(--tw-bg-opacity));
}

.bg-neutral\/50 {
  background-color: rgba(var(--color-neutral), 0.5);
}

.bg-neutral-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-500), var(--tw-bg-opacity));
}

.bg-primary-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-700), var(--tw-bg-opacity));
}

.bg-\[\#ef4444\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-primary-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-600), var(--tw-bg-opacity));
}

.bg-neutral-100\/50 {
  background-color: rgba(var(--color-neutral-100), 0.5);
}

.bg-neutral-500\/50 {
  background-color: rgba(var(--color-neutral-500), 0.5);
}

.bg-transparent {
  background-color: transparent;
}

.bg-neutral-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-100), var(--tw-bg-opacity));
}

.bg-neutral-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-300), var(--tw-bg-opacity));
}

.bg-primary-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.from-neutral {
  --tw-gradient-from: rgba(var(--color-neutral), 1);
  --tw-gradient-to: rgba(var(--color-neutral), 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-primary-500 {
  --tw-gradient-from: rgba(var(--color-primary-500), 1);
  --tw-gradient-to: rgba(var(--color-primary-500), 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-transparent {
  --tw-gradient-to: transparent;
}

.to-neutral {
  --tw-gradient-to: rgba(var(--color-neutral), 1);
}

.to-secondary-700 {
  --tw-gradient-to: rgba(var(--color-secondary-700), 1);
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-scale-down {
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.object-left {
  -o-object-position: left;
     object-position: left;
}

.p-4 {
  padding: 1rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-0 {
  padding: 0px;
}

.p-1\.5 {
  padding: 0.375rem;
}

.p-1 {
  padding: 0.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px;
}

.py-\[1px\] {
  padding-top: 1px;
  padding-bottom: 1px;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-16 {
  padding-top: 4rem;
}

.pb-32 {
  padding-bottom: 8rem;
}

.pl-4 {
  padding-left: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pl-\[24px\] {
  padding-left: 24px;
}

.pr-\[24px\] {
  padding-right: 24px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.align-sub {
  vertical-align: sub;
}

.align-super {
  vertical-align: super;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[0\.6rem\] {
  font-size: 0.6rem;
}

.font-extrabold {
  font-weight: 800;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-7 {
  line-height: 1.75rem;
}

.leading-loose {
  line-height: 2;
}

.leading-6 {
  line-height: 1.5rem;
}

.leading-3 {
  line-height: .75rem;
}

.text-neutral-900 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-900), var(--tw-text-opacity));
}

.text-primary-600 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.text-neutral-700 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

.text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.text-neutral-800 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-800), var(--tw-text-opacity));
}

.text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

.text-neutral-50 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-50), var(--tw-text-opacity));
}

.text-\[\#f39\] {
  --tw-text-opacity: 1;
  color: rgb(255 51 153 / var(--tw-text-opacity));
}

.text-\[\#fca5a5\] {
  --tw-text-opacity: 1;
  color: rgb(252 165 165 / var(--tw-text-opacity));
}

.\!text-neutral {
  --tw-text-opacity: 1 !important;
  color: rgba(var(--color-neutral), var(--tw-text-opacity)) !important;
}

.text-primary-800 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-800), var(--tw-text-opacity));
}

.text-neutral-200 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

.text-neutral-300 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-300), var(--tw-text-opacity));
}

.text-primary-300 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-300), var(--tw-text-opacity));
}

.text-primary-700 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-700), var(--tw-text-opacity));
}

.text-primary-500 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-500), var(--tw-text-opacity));
}

.text-primary-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.\!no-underline {
  text-decoration-line: none !important;
}

.decoration-primary-500 {
  text-decoration-color: rgba(var(--color-primary-500), 1);
}

.decoration-secondary-500 {
  text-decoration-color: rgba(var(--color-secondary-500), 1);
}

.decoration-neutral-300 {
  text-decoration-color: rgba(var(--color-neutral-300), 1);
}

.placeholder-neutral-300::-moz-placeholder {
  --tw-placeholder-opacity: 1;
  color: rgba(var(--color-neutral-300), var(--tw-placeholder-opacity));
}

.placeholder-neutral-300::placeholder {
  --tw-placeholder-opacity: 1;
  color: rgba(var(--color-neutral-300), var(--tw-placeholder-opacity));
}

.opacity-0 {
  opacity: 0;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-30 {
  opacity: 0.3;
}

.mix-blend-normal {
  mix-blend-mode: normal;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdrop-blur {
  --tw-backdrop-blur: blur(8px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-2xl {
  --tw-backdrop-blur: blur(40px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

body a,
body button {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Scale SVG icons to text size */

.icon svg {
  height: 1em;
  width: 1em;
}

/* Search */

#search-query::-webkit-search-cancel-button,
#search-query::-webkit-search-decoration,
#search-query::-webkit-search-results-button,
#search-query::-webkit-search-results-decoration {
  display: none;
}

/* Hamburger menu */

body:has(#menu-controller:checked) {
  overflow-y: hidden;
}

#menu-button:has(#menu-controller:checked) {
  visibility: hidden;
}

#menu-controller:checked~#menu-wrapper {
  visibility: visible;
  opacity: 1;
}

/* RTL support */

[dir="rtl"] .prose blockquote {
  border-left-width: 0px;
  border-right-width: 4px;
  padding-right: 1rem;
}

[dir="rtl"] .prose ul>li,[dir="rtl"] 
.prose ol>li {
  margin-right: 1.75rem;
  padding-left: 0px;
  padding-right: 0.5rem;
}

[dir="rtl"] .prose ol>li:before,[dir="rtl"] 
.prose ul>li:before {
  left: auto;
  right: 0.25rem;
}

[dir="rtl"] .prose thead td:first-child,[dir="rtl"] 
.prose thead th:first-child {
  padding-right: 0px;
}

[dir="rtl"] .prose thead td:last-child,[dir="rtl"] 
.prose thead th:last-child {
  padding-left: 0px;
}

/* Adjust first child within prose */

.prose div.min-w-0.max-w-prose>*:first-child {
  margin-top: 0.75rem;
}

/* Table of Contents */

.toc ul,
.toc li {
  list-style-type: none;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 1.375;
}

[dir="ltr"] .toc ul ul {
  padding-left: 1rem;
}

[dir="rtl"] .toc ul ul {
  padding-right: 1rem;
}

.toc a {
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

.dark .toc a {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

[dir="rtl"] .toc ul>li {
  margin-right: 0px;
}

/* Code Copy */

.highlight-wrapper {
  display: block;
}

.highlight {
  position: relative;
  z-index: 0;
}

.highlight:hover>.copy-button {
  visibility: visible;
}

.copy-button {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  width: 5rem;
  cursor: pointer;
  white-space: nowrap;
  border-bottom-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-200), var(--tw-bg-opacity));
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
  opacity: 0.9;
}

.dark .copy-button {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-600), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

.copy-button:hover,
.copy-button:focus,
.copy-button:active,
.copy-button:active:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.dark .copy-button:hover,.dark 
.copy-button:focus,.dark 
.copy-button:active,.dark 
.copy-button:active:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-600), var(--tw-bg-opacity));
}

.copy-textarea {
  position: absolute;
  z-index: -10;
  opacity: 0.05;
}

/* -- Chroma Highlight -- */

/* Background */

.prose .chroma {
  position: static;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-50), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

.dark .prose .chroma {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-700), var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

/* LineTableTD */

.chroma .lntd,
.chroma .lntd pre {
  margin: 0px;
  border-style: none;
  padding: 0px;
  vertical-align: top;
}

/* LineTable */

.chroma .lntable {
  display: block;
  width: auto;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-spacing: 0;
}

/* LineHighlight */

.chroma .hl {
  margin-left: -1rem;
  margin-right: -1rem;
  display: block;
  width: auto;
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
}

.dark .chroma .hl {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.chroma .lntd .hl {
  margin: 0px;
  padding: 0px;
}

/* LineNumbersTable */

/* LineNumbers */

.chroma .lnt,
.chroma .ln {
  margin-right: 0.4em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0px;
  padding-bottom: 0px;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-600), var(--tw-text-opacity));
}

.dark .chroma .lnt,.dark 
.chroma .ln {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-300), var(--tw-text-opacity));
}

/* Keyword */

/* KeywordDeclaration */

/* KeywordNamespace */

/* KeywordPseudo */

/* KeywordReserved */

/* NameClass */

/* NameFunctionMagic */

/* NameNamespace */

/* NameVariableClass */

/* Operator */

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .nc,
.chroma .fm,
.chroma .nn,
.chroma .vc,
.chroma .o {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.dark .chroma .k,.dark 
.chroma .kd,.dark 
.chroma .kn,.dark 
.chroma .kp,.dark 
.chroma .kr,.dark 
.chroma .nc,.dark 
.chroma .fm,.dark 
.chroma .nn,.dark 
.chroma .vc,.dark 
.chroma .o {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-300), var(--tw-text-opacity));
}

/* KeywordConstant */

.chroma .kc {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.dark .chroma .kc {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* KeywordType */

/* NameVariable */

/* NameVariableInstance */

/* NameVariableMagic */

/* LiteralNumber */

/* LiteralNumberBin */

/* LiteralNumberFloat */

/* LiteralNumberHex */

/* LiteralNumberInteger */

/* LiteralNumberIntegerLong */

/* LiteralNumberOct */

.chroma .kt,
.chroma .nv,
.chroma .vi,
.chroma .vm,
.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.dark .chroma .kt,.dark 
.chroma .nv,.dark 
.chroma .vi,.dark 
.chroma .vm,.dark 
.chroma .m,.dark 
.chroma .mb,.dark 
.chroma .mf,.dark 
.chroma .mh,.dark 
.chroma .mi,.dark 
.chroma .il,.dark 
.chroma .mo {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-600), var(--tw-text-opacity));
}

/* Name */

/* NameDecorator */

/* NameEntity */

/* NameLabel */

.chroma .n,
.chroma .nd,
.chroma .ni,
.chroma .nl {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-900), var(--tw-text-opacity));
}

.dark .chroma .n,.dark 
.chroma .nd,.dark 
.chroma .ni,.dark 
.chroma .nl {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-200), var(--tw-text-opacity));
}

/* NameAttribute */

/* NameBuiltin */

/* NameBuiltinPseudo */

/* NameOther */

/* NameProperty */

/* NameTag */

.chroma .na,
.chroma .nb,
.chroma .bp,
.chroma .nx,
.chroma .py,
.chroma .nt {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-800), var(--tw-text-opacity));
}

.dark .chroma .na,.dark 
.chroma .nb,.dark 
.chroma .bp,.dark 
.chroma .nx,.dark 
.chroma .py,.dark 
.chroma .nt {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-300), var(--tw-text-opacity));
}

/* NameConstant */

/* NameException */

/* NameVariableGlobal */

.chroma .no,
.chroma .ne,
.chroma .vg {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.dark .chroma .no,.dark 
.chroma .ne,.dark 
.chroma .vg {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* NameFunction */

.chroma .nf {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-600), var(--tw-text-opacity));
}

.dark .chroma .nf {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* Literal */

/* LiteralDate */

/* LiteralString */

/* LiteralStringAffix */

/* LiteralStringBacktick */

/* LiteralStringChar */

/* LiteralStringDelimiter */

/* LiteralStringDoc */

/* LiteralStringDouble */

/* LiteralStringHeredoc */

/* LiteralStringInterpol */

/* LiteralStringOther */

/* LiteralStringSingle */

/* GenericInserted */

/* GenericOutput */

/* GenericPrompt */

.chroma .l,
.chroma .ld,
.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .s1,
.chroma .gi,
.chroma .go,
.chroma .gp {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-800), var(--tw-text-opacity));
}

.dark .chroma .l,.dark 
.chroma .ld,.dark 
.chroma .s,.dark 
.chroma .sa,.dark 
.chroma .sb,.dark 
.chroma .sc,.dark 
.chroma .dl,.dark 
.chroma .sd,.dark 
.chroma .s2,.dark 
.chroma .sh,.dark 
.chroma .si,.dark 
.chroma .sx,.dark 
.chroma .s1,.dark 
.chroma .gi,.dark 
.chroma .go,.dark 
.chroma .gp {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

/* LiteralStringEscape */

.chroma .se {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-400), var(--tw-text-opacity));
}

.dark .chroma .se {
  --tw-text-opacity: 1;
  color: rgba(var(--color-secondary-500), var(--tw-text-opacity));
}

/* LiteralStringRegex */

/* LiteralStringSymbol */

.chroma .sr,
.chroma .ss {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-800), var(--tw-text-opacity));
}

.dark .chroma .sr,.dark 
.chroma .ss {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

/* OperatorWord */

.chroma .ow {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.dark .chroma .ow {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

/* Comment */

/* CommentMultiline */

/* CommentSingle */

/* CommentSpecial */

/* CommentPreproc */

/* CommentPreprocFile */

.chroma .c,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.dark .chroma .c,.dark 
.chroma .cm,.dark 
.chroma .c1,.dark 
.chroma .cs,.dark 
.chroma .cp,.dark 
.chroma .cpf {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

/* CommentHashbang */

.chroma .ch {
  font-weight: 600;
  font-style: italic;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.dark .chroma .ch {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

/* GenericEmph */

.chroma .ge {
  font-style: italic;
}

/* GenericHeading */

.chroma .gh {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

/* GenericStrong */

.chroma .gs {
  font-weight: 600;
}

/* GenericSubheading */

/* GenericTraceback */

.chroma .gu,
.chroma .gt {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

/* GenericUnderline */

.chroma .gl {
  text-decoration-line: underline;
}

/* */

.thumbnail {
  min-width: 300px;
  height: 180px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.thumbnail_card {
  height: 250px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.thumbnail_card_term {
  height: 150px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.single_hero_basic {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.single_hero_round {
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_hero_background {
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width: calc(100% + 40px);
  z-index: -10;
  margin-left: -20px;
}

.hero_gradient {
  width: 100%;
  height: 100%;
}

.thumbnailshadow {
  box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.3);
}

.anchor {
  display: block;
  position: relative;
  top: -100px;
  height: 0px;
  visibility: hidden;
}

@media (min-width: 640px) {
  .thumbnail {
    min-width: 100%;
    height: 180px;
  }

  .article {
    flex-wrap: wrap;
  }
}

@media (min-width: 853px) {
  .thumbnail {
    min-width: 300px;
    min-height: 180px;
    height: auto;
  }

  .article {
    flex-wrap: nowrap;
  }
}

.medium-zoom-image--opened {
  z-index: 100;
}

.file\:my-4::file-selector-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.file\:ml-2::file-selector-button {
  margin-left: 0.5rem;
}

.file\:rounded-lg::file-selector-button {
  border-radius: 0.5rem;
}

.file\:border-0::file-selector-button {
  border-width: 0px;
}

.file\:bg-neutral-500::file-selector-button {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-500), var(--tw-bg-opacity));
}

.file\:py-2::file-selector-button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.file\:px-4::file-selector-button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.file\:text-sm::file-selector-button {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.file\:font-semibold::file-selector-button {
  font-weight: 600;
}

.file\:text-neutral-100::file-selector-button {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-100), var(--tw-text-opacity));
}

.first\:mt-8:first-child {
  margin-top: 2rem;
}

.checked\:text-neutral-500:checked {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.hover\:border-transparent:hover {
  border-color: transparent;
}

.hover\:bg-neutral-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-500), var(--tw-bg-opacity));
}

.hover\:bg-primary-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.hover\:\!bg-primary-500:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--color-primary-500), var(--tw-bg-opacity)) !important;
}

.hover\:bg-primary-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-600), var(--tw-bg-opacity));
}

.hover\:bg-primary-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.hover\:bg-primary-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-500), var(--tw-bg-opacity));
}

.hover\:text-primary-600:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.hover\:text-primary-400:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.hover\:text-primary-700:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-700), var(--tw-text-opacity));
}

.hover\:text-primary-500:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-500), var(--tw-text-opacity));
}

.hover\:text-neutral:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral), var(--tw-text-opacity));
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:decoration-primary-400:hover {
  text-decoration-color: rgba(var(--color-primary-400), 1);
}

.hover\:decoration-2:hover {
  text-decoration-thickness: 2px;
}

.hover\:underline-offset-2:hover {
  text-underline-offset: 2px;
}

.hover\:file\:bg-primary-300::file-selector-button:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-300), var(--tw-bg-opacity));
}

.hover\:file\:text-primary-500::file-selector-button:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-500), var(--tw-text-opacity));
}

.hover\:file\:ring-2::file-selector-button:hover {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.hover\:file\:ring-primary-500::file-selector-button:hover {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(var(--color-primary-500), var(--tw-ring-opacity));
}

.hover\:file\:ring-offset-2::file-selector-button:hover {
  --tw-ring-offset-width: 2px;
}

.hover\:file\:ring-offset-transparent::file-selector-button:hover {
  --tw-ring-offset-color: transparent;
}

.focus\:translate-y-0:focus {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.focus\:bg-primary-900:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.focus\:bg-primary-100:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-100), var(--tw-bg-opacity));
}

.focus\:outline-dotted:focus {
  outline-style: dotted;
}

.focus\:outline-2:focus {
  outline-width: 2px;
}

.focus\:outline-transparent:focus {
  outline-color: transparent;
}

.focus\:ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-primary-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(var(--color-primary-500), var(--tw-ring-opacity));
}

.focus\:ring-primary-700:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(var(--color-primary-700), var(--tw-ring-opacity));
}

.focus\:ring-offset-2:focus {
  --tw-ring-offset-width: 2px;
}

.focus\:ring-offset-transparent:focus {
  --tw-ring-offset-color: transparent;
}

.group:hover .group-hover\:text-primary-600 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-600), var(--tw-text-opacity));
}

.group:hover .group-hover\:text-primary-300 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-300), var(--tw-text-opacity));
}

.group:hover .group-hover\:underline {
  text-decoration-line: underline;
}

.group:hover .group-hover\:decoration-primary-500 {
  text-decoration-color: rgba(var(--color-primary-500), 1);
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

[dir="ltr"] .ltr\:right-0 {
  right: 0px;
}

[dir="ltr"] .ltr\:-left-6 {
  left: -1.5rem;
}

[dir="ltr"] .ltr\:ml-2 {
  margin-left: 0.5rem;
}

[dir="ltr"] .ltr\:mr-14 {
  margin-right: 3.5rem;
}

[dir="ltr"] .ltr\:mr-4 {
  margin-right: 1rem;
}

[dir="ltr"] .ltr\:-ml-5 {
  margin-left: -1.25rem;
}

[dir="ltr"] .ltr\:block {
  display: block;
}

[dir="ltr"] .ltr\:inline {
  display: inline;
}

[dir="ltr"] .ltr\:hidden {
  display: none;
}

[dir="ltr"] .ltr\:border-l {
  border-left-width: 1px;
}

[dir="ltr"] .ltr\:pr-2 {
  padding-right: 0.5rem;
}

[dir="ltr"] .ltr\:pl-5 {
  padding-left: 1.25rem;
}

[dir="ltr"] .ltr\:pr-3 {
  padding-right: 0.75rem;
}

[dir="ltr"] .ltr\:text-right {
  text-align: right;
}

[dir="rtl"] .rtl\:left-0 {
  left: 0px;
}

[dir="rtl"] .rtl\:-right-6 {
  right: -1.5rem;
}

[dir="rtl"] .rtl\:mr-2 {
  margin-right: 0.5rem;
}

[dir="rtl"] .rtl\:ml-14 {
  margin-left: 3.5rem;
}

[dir="rtl"] .rtl\:ml-4 {
  margin-left: 1rem;
}

[dir="rtl"] .rtl\:-mr-5 {
  margin-right: -1.25rem;
}

[dir="rtl"] .rtl\:block {
  display: block;
}

[dir="rtl"] .rtl\:inline {
  display: inline;
}

[dir="rtl"] .rtl\:hidden {
  display: none;
}

[dir="rtl"] .rtl\:border-r {
  border-right-width: 1px;
}

[dir="rtl"] .rtl\:pl-2 {
  padding-left: 0.5rem;
}

[dir="rtl"] .rtl\:pr-5 {
  padding-right: 1.25rem;
}

[dir="rtl"] .rtl\:pl-3 {
  padding-left: 0.75rem;
}

[dir="rtl"] .rtl\:text-left {
  text-align: left;
}

.dark .dark\:flex {
  display: flex;
}

.dark .dark\:hidden {
  display: none;
}

.dark .dark\:border-neutral-600 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-600), var(--tw-border-opacity));
}

.dark .dark\:border-neutral-700 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-neutral-700), var(--tw-border-opacity));
}

.dark .dark\:border-primary-600 {
  --tw-border-opacity: 1;
  border-color: rgba(var(--color-primary-600), var(--tw-border-opacity));
}

.dark .dark\:bg-neutral-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-800), var(--tw-bg-opacity));
}

.dark .dark\:bg-neutral-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-600), var(--tw-bg-opacity));
}

.dark .dark\:bg-neutral-800\/50 {
  background-color: rgba(var(--color-neutral-800), 0.5);
}

.dark .dark\:bg-\[\#ef4444\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.dark .dark\:bg-primary-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-800), var(--tw-bg-opacity));
}

.dark .dark\:bg-neutral-900\/50 {
  background-color: rgba(var(--color-neutral-900), 0.5);
}

.dark .dark\:bg-primary-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-400), var(--tw-bg-opacity));
}

.dark .dark\:bg-neutral-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-neutral-700), var(--tw-bg-opacity));
}

.dark .dark\:bg-primary-900 {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.dark .dark\:from-neutral-800 {
  --tw-gradient-from: rgba(var(--color-neutral-800), 1);
  --tw-gradient-to: rgba(var(--color-neutral-800), 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.dark .dark\:from-primary-600 {
  --tw-gradient-from: rgba(var(--color-primary-600), 1);
  --tw-gradient-to: rgba(var(--color-primary-600), 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.dark .dark\:to-neutral-800 {
  --tw-gradient-to: rgba(var(--color-neutral-800), 1);
}

.dark .dark\:to-secondary-800 {
  --tw-gradient-to: rgba(var(--color-secondary-800), 1);
}

.dark .dark\:prose-invert {
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-lead: var(--tw-prose-invert-lead);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
  --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
}

.dark .dark\:prose-invert :where(a):not(:where([class~="not-prose"] *)) {
  text-decoration-color: rgba(var(--color-neutral-600), 1);
}

.dark .dark\:prose-invert :where(kbd):not(:where([class~="not-prose"] *)) {
  color: rgba(var(--color-neutral-200), 1);
  background-color: rgba(var(--color-neutral-700), 1);
}

.dark .dark\:prose-invert :where(mark):not(:where([class~="not-prose"] *)) {
  background-color: rgba(var(--color-secondary-400), 1);
}

.dark .dark\:text-neutral {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral), var(--tw-text-opacity));
}

.dark .dark\:text-primary-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.dark .dark\:text-neutral-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-400), var(--tw-text-opacity));
}

.dark .dark\:text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-500), var(--tw-text-opacity));
}

.dark .dark\:text-neutral-200 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-200), var(--tw-text-opacity));
}

.dark .dark\:text-neutral-300 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-300), var(--tw-text-opacity));
}

.dark .dark\:text-primary-200 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-200), var(--tw-text-opacity));
}

.dark .dark\:text-neutral-800 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-800), var(--tw-text-opacity));
}

.dark .dark\:text-neutral-100 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-100), var(--tw-text-opacity));
}

.dark .dark\:opacity-60 {
  opacity: 0.6;
}

.dark .dark\:hover\:\!bg-primary-700:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgba(var(--color-primary-700), var(--tw-bg-opacity)) !important;
}

.dark .dark\:hover\:bg-primary-900:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.dark .dark\:hover\:bg-primary-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-400), var(--tw-bg-opacity));
}

.dark .dark\:hover\:text-primary-400:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.dark .dark\:hover\:text-neutral-800:hover {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-800), var(--tw-text-opacity));
}

.dark .dark\:focus\:bg-primary-900:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(var(--color-primary-900), var(--tw-bg-opacity));
}

.dark .group:hover .dark\:group-hover\:text-primary-400 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-primary-400), var(--tw-text-opacity));
}

.dark .group:hover .dark\:group-hover\:text-neutral-700 {
  --tw-text-opacity: 1;
  color: rgba(var(--color-neutral-700), var(--tw-text-opacity));
}

@media print {
  .print\:hidden {
    display: none;
  }
}

@media (min-width: 640px) {
  .sm\:mt-16 {
    margin-top: 4rem;
  }

  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:max-w-prose {
    max-width: 65ch;
  }

  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:overflow-hidden {
    overflow: hidden;
  }

  .sm\:p-6 {
    padding: 1.5rem;
  }

  .sm\:px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .sm\:pt-10 {
    padding-top: 2.5rem;
  }

  .sm\:pl-6 {
    padding-left: 1.5rem;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  [dir="ltr"] .ltr\:sm\:mr-7 {
    margin-right: 1.75rem;
  }

  [dir="ltr"] .ltr\:sm\:last\:mr-0:last-child {
    margin-right: 0px;
  }

  [dir="rtl"] .rtl\:sm\:ml-7 {
    margin-left: 1.75rem;
  }

  [dir="rtl"] .rtl\:sm\:last\:ml-0:last-child {
    margin-left: 0px;
  }
}

@media (min-width: 853px) {
  .md\:mr-7 {
    margin-right: 1.75rem;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:ml-12 {
    margin-left: 3rem;
  }

  .md\:-mr-16 {
    margin-right: -4rem;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-72 {
    height: 18rem;
  }

  .md\:h-\[200px\] {
    height: 200px;
  }

  .md\:h-56 {
    height: 14rem;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:p-\[10vh\] {
    padding: 10vh;
  }

  .md\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}

@media (min-width: 1024px) {
  .lg\:absolute {
    position: absolute;
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:sticky {
    position: sticky;
  }

  .lg\:top-10 {
    top: 2.5rem;
  }

  .lg\:top-\[140px\] {
    top: 140px;
  }

  .lg\:left-0 {
    left: 0px;
  }

  .lg\:order-last {
    order: 9999;
  }

  .lg\:m-0 {
    margin: 0px;
  }

  .lg\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .lg\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .lg\:ml-auto {
    margin-left: auto;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-72 {
    height: 18rem;
  }

  .lg\:h-full {
    height: 100%;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-1\/4 {
    width: 25%;
  }

  .lg\:max-w-xs {
    max-width: 20rem;
  }

  .lg\:max-w-7xl {
    max-width: 80rem;
  }

  .lg\:max-w-none {
    max-width: none;
  }

  .lg\:grid-flow-col-dense {
    grid-auto-flow: column dense;
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:gap-24 {
    gap: 6rem;
  }

  .lg\:p-\[12vh\] {
    padding: 12vh;
  }

  .lg\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .lg\:py-32 {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .lg\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  [dir="ltr"] .ltr\:lg\:pl-8 {
    padding-left: 2rem;
  }

  [dir="rtl"] .rtl\:lg\:pr-8 {
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .xl\:w-1\/4 {
    width: 25%;
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1536px) {
  .\32xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}