<article class="max-w-full prose dark:prose-invert">
  <div class="relative shadow-xl sm:overflow-hidden rounded-2xl">
    <div class="absolute inset-0">
      {{ with .Site.Params.homepage.homepageImage }}
      {{ $homepageImage := resources.Get . }}
      {{ if $homepageImage }}
      <img class="h-full w-full object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}">
      <div
        class="absolute inset-0 bg-gradient-to-r from-primary-500 to-secondary-700 dark:from-primary-600 dark:to-secondary-800 mix-blend-multiply">
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
  {{ with .Title }}
    <header>
      <h1>{{ . | emojify }}</h1>
    </header>
  {{ end }}
  <section>{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles/main.html" . }}
</section>
