<div class="mt-20">
  <h1>Disciplemaking</h1>
  <div class="mb-8">TFC’s core value is to follow the example of Jesus whose strategy of disciplemaking allowed Him to minister to all levels of spiritual interest at all times. These are those levels and where we work to reach teens at those levels. Everything we do is built around a desire to impact lives at each of these levels and help teenagers move forward through them.</div>

  <div class="m-4 w-full grid grid-cols-1 gap-12 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1">
    <div class="p-2">
      <div class="text-xl font-extrabold">Lost and Seeking</div>
      <ul>
        <li>The World</li>
        <li>Outreach</li>
        <li>Relationship Building</li>
      </ul>
    </div>
    <div class="p-2">
      <div class="text-xl font-extrabold">Come and Grow</div>
      <ul>
        <li>Growing Believers</li>
        <li>Building Faith</li>
        <li>Jesus Started Here</li>
      </ul>
    </div>
    <div class="p-2">
      <div class="text-xl font-extrabold">Come and Follow</div>
      <ul>
        <li>Workers</li>
        <li>Equipping</li>
        <li>Jesus Invited Some</li>
      </ul>
    </div>
    <div class="p-2">
      <div class="text-xl font-extrabold">Come and Go</div>
      <ul>
        <li>Leadership</li>
        <li>Multiplication</li>
        <li>Jesus Sent Some</li>
      </ul>
    </div>
  </div>

</div>
