<h2>Disciplemaking</h2>
TFC’s core value is to follow the example of Jesus whose strategy of disciplemaking allowed Him to minister to all levels of spiritual interest at all times.

<div style="display: flex; flex-wrap: wrap;">
  <div style="flex: 1; margin:10px; min-width:128px;">
    <h2>Lost and Seeking</h2>
    <ul>
      <li>The World</li>
      <li>Outreach</li>
      <li>Relationship Building</li>
    </ul>
  </div>
  <div style="flex: 1; margin:10px; min-width:128px;">
    <h2>Come and Grow</h2>
    <ul>
      <li>Growing Believers</li>
      <li>Building Faith</li>
      <li>Jesus Started Here</li>
    </ul>
  </div>
  <div style="flex: 1; margin:10px; min-width:128px;">
    <h2>Come and Follow</h2>
    <ul>
      <li>Workers</li>
      <li>Equipping</li>
      <li>Jesus Invited Some</li>
    </ul>
  </div>
  <div style="flex: 1; margin:10px; min-width:128px;">
    <h2>Come and Go</h2>
    <ul>
      <li>Leadership</li>
      <li>Multiplication</li>
      <li>Jesus Sent Some</li>
    </ul>
  </div>
</div>
