<style>
  #v-frame {
      background-color: #1e293b;
  }
</style>

<iframe class="h-screen" id="v-frame" width="100%" frameborder="0" allow="clipboard-write" src=https://secure.myvanco.com/L-Z772 scrolling="yes"></iframe>

<!-- <script type="application/javascript"> -->
<!--       window.onmessage=(e=>{const n=document.getElementById("v-frame");https:\/\/secure.myvanco.com===e.origin&&e.data.height&&(n.height=e.data.height,n.overflow="hidden")}); -->
<!-- </script> -->

<!-- <script type="application/javascript"> -->
<!--   var x = document.getElementById("v-frame"); -->
<!--   console.log("AHHHHHHHHHHHHHH!"); -->
<!--   var y = (x.contentWindow || x.contentDocument); -->
<!--   if (y.document) -->
<!--       y = y.document; -->
<!--   console.log(y.body.style.backgroundColor); -->
<!--   y.body.style.backgroundColor = "#1e293b"; -->
<!--   console.log(y.body.root.style.backgroundColor); -->
<!-- </script> -->
