
{{ $osmClasses := "{{ .Get `height` | default `h-96`}} {{.Get `width` | default `w-full`}}" }}

<iframe class="{{with .Get `height` }}{{ . }}{{ else }}h-96{{end}} {{with .Get `width` }}{{ . }}{{ else }}w-full{{end}}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ .Get `src`}}"></iframe><br/><small><a href="{{ .Get `href`}}">View Larger Map</a></small>
