{{- $vid := .Get "src" -}}
{{- $abs := .Get "abs" | default true -}}
{{- $width := .Get "width" | default "560" -}}
{{- $height := .Get "height" | default "315" -}}

<div style="display: flex;">
  <iframe class="pt-vid flex-auto aspect-video w-full" sandbox="allow-same-origin allow-scripts allow-popups" src="{{ $vid }}?warningTitle=0" frameborder="0" allowfullscreen></iframe>
</div>
